/* This is for full card style */
#user {
    width: 225px;
    background-color: #cddfe1;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    padding-bottom: 17px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 10px;
}

/* Card hover style */
#user:hover{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: none;
    border-radius: 12px;
    transform: scale(1.1);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#users {
    display: flex;
    margin: auto 0;
    justify-content: center;
    flex-wrap: wrap;
}

.flex{
        margin-left: 15px;
}

h2, p {
    line-height: 0.5;
    font-family: monospace;
}

.searchBox {
    display: flex;
    justify-content: center;
}

.searchBox button{
    cursor: pointer;
}
.deleteBtn{
    cursor: pointer;
}


